@model IEnumerable<SongsAndPlaylist.Models.PlaylistSong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
@*    <a asp-action="Create">Add to Playlist</a>*@
    <a asp-action="Create" class="btn btn-primary">Add to Playlist</a>


</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PlaylistSongId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Playlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.PlaylistSongId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Playlist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Title)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
               @* @Html.ActionLink("Delete", "Delete", new {  id=item.PlaylistId  })*@
                    <form asp-action="Delete" asp-controller="Playlists" asp-route-id="@item.PlaylistId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

            </td>
        </tr>
}
    </tbody>
</table>
